-- Add new fields to about_content table for dynamic education, languages, and interests
ALTER TABLE about_content ADD COLUMN IF NOT EXISTS bio TEXT;
ALTER TABLE about_content ADD COLUMN IF NOT EXISTS education JSONB DEFAULT '[]'::jsonb;
ALTER TABLE about_content ADD COLUMN IF NOT EXISTS interests JSONB DEFAULT '[]'::jsonb;
